%h2.message.text-center Fish the world.
#maximage
  .first-item
    = image_tag "http://res.cloudinary.com/kaoxyooj/image/upload/c_scale,w_1920/v1491496203/img1_ch9cq8.jpg", class: "image-max", alt:""
  = image_tag "http://res.cloudinary.com/kaoxyooj/image/upload/c_scale,w_1920/v1491497223/img3_drtnud.jpg", class: "image-max", alt:""
  = image_tag "http://res.cloudinary.com/kaoxyooj/image/upload/c_scale,w_1920/v1491497194/img6_gpirse.jpg", class: "image-max", alt:""
  = image_tag "http://res.cloudinary.com/kaoxyooj/image/upload/c_scale,w_1920/v1491497185/img4_lqv7j4.jpg", class: "image-max", alt:""
  = image_tag "http://res.cloudinary.com/kaoxyooj/image/upload/v1491497183/img5_njdbrt.jpg", class: "image-max", alt:""
  = image_tag "http://res.cloudinary.com/kaoxyooj/image/upload/c_scale,w_1920/v1491498544/download_ymbphm.jpg", class: "image-max", alt:""

